[submodule "MediaStreamer.IO"]
	path = MediaStreamer.IO
	url = https://github.com/sealkeen/MediaStreamer.IO/
[submodule "MediaStreamer.Domain"]
	path = MediaStreamer.Domain
	url = https://github.com/sealkeen/MediaStreamer.Domain
[submodule "MediaStreamer.Xamarin"]
	path = MediaStreamer.Xamarin
	url = https://github.com/sealkeen/MediaStreamer.Xamarin
[submodule "taglib-sharp"]
	path = taglib-sharp
	url = https://github.com/mono/taglib-sharp
