[submodule "MediaStreamer.IO"]
	path = MediaStreamer.IO
	url = https://github.com/sealkeen/MediaStreamer.IO/
[submodule "MediaStreamer.Domain"]
	path = MediaStreamer.Domain
	url = https://github.com/sealkeen/MediaStreamer.Domain
[submodule "MediaStreamer.Xamarin"]
	path = MediaStreamer.Xamarin
	url = https://github.com/sealkeen/MediaStreamer.Xamarin
[submodule "taglib-sharp"]
	path = taglib-sharp
	url = https://github.com/mono/taglib-sharp
[submodule "ObjectModelExtensions"]
	path = ObjectModelExtensions
	url = https://github.com/sealkeen/ObjectModelExtensions
[submodule "Sealkeen.Linq.Extensions"]
	path = Sealkeen.Linq.Extensions
	url = https://github.com/sealkeen/Sealkeen.Linq.Extensions
[submodule "Sealkeen.ObjectModel.Extensions"]
	path = Sealkeen.ObjectModel.Extensions
	url = https://github.com/sealkeen/Sealkeen.ObjectModel.Extensions
[submodule "MediaStreamer.Logging"]
	path = MediaStreamer.Logging
	url = https://github.com/sealkeen/MediaStreamer.Logging
