<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="mainEntities" connectionString="metadata=res://*/DMEntities.csdl|res://*/DMEntities.ssdl|res://*/DMEntities.msl;provider=System.Data.SQLite.EF6;provider connection string='binary guid=True;data source=&quot;
        http://docs.google.com/uc?export=open&id=1TqCBUjhXeglQogUaIGaegu7TUf4-iiXA&quot;'" 
	  providerName="System.Data.EntityClient" />
    <!--<add name="mainEntities" connectionString="metadata=res://*/DMEntities.csdl|res://*/DMEntities.ssdl|res://*/DMEntities.msl;provider=System.Data.SQLite.EF6;provider connection string='binary guid=True;data source=&quot;
		C:\Users\Sealkeen\Documents\ГУАП Done (v)\7 Базы данных (1)\09.06.2021-2.db3&quot;'" 
	  providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>