<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="compositionsdbEntities" connectionString="metadata=res://*/DMEntities.csdl|res://*/DMEntities.ssdl|res://*/DMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLExpress;Initial Catalog=compositionsdb;User ID=sys_admin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <connectionStrings>
    <add name="DMEntities" connectionString="metadata=res://*/DMEntities.csdl|res://*/DMEntities.ssdl|res://*/DMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLExpress;Initial Catalog=compositionsdb;User ID=sys_admin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
