<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="mainEntities" connectionString="metadata=res://*/DMEntities.csdl|res://*/DMEntities.ssdl|res://*/DMEntities.msl;provider=System.Data.SQLite.EF6;provider connection string='binary guid=True;data source=&quot;
        http://docs.google.com/uc?export=open&id=1TqCBUjhXeglQogUaIGaegu7TUf4-iiXA&quot;'" 
	  providerName="System.Data.EntityClient" />-->
    <!--SQLite-->
	<!--<add name="DMEntities" connectionString="metadata=res://*/DMEntities.csdl|res://*/DMEntities.ssdl|res://*/DMEntities.msl;provider=System.Data.SQLite.EF6;provider connection string='binary guid=True;    data source=&quot;C:\Users\Sealkeen\Documents\ГУАП Done (v)\7 Базы данных (1)\09.06.2021-2.db3&quot;'" providerName="System.Data.EntityClient" />-->
	<!--SQLServer-->
	<add name="CompositionsConnection" connectionString="metadata=res://*/DMEntitiesConnection.csdl|res://*/DMEntitiesConnection.ssdl|res://*/DMEntitiesConnection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLExpress;initial catalog=compositionsdb;user id=sys_admin;password=hr9p23yf8342QI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>